backend/env/
backend/weight/
*.keras
*.onnx
*.data-00000-of-00001
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv_311

# Large model files
backend/weight/*.keras
backend/weight/*.onnx
backend/weight/*_saved_model/
backend/weight/densenet201.keras
backend/weight/convenetiny_*.onnx
backend/weight/*/variables/variables.data-*