# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv*/

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Project specific
gradcam_results/
autism_gradcam_results/
*.log
image_test/

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Git
.git
.gitignore

# Node
node_modules/
npm-debug.log
