model_config_list: {
  config: {
    name: "skin_cancer",
    base_path: "/models/skin_cancer",
    model_platform: "tensorflow",
    model_version_policy: {
      specific {
        versions: 1
      }
    }
  },
  config: {
    name: "autism",
    base_path: "/models/autism",
    model_platform: "tensorflow",
    model_version_policy: {
      specific {
        versions: 1
      }
    }
  }
}
